.section-quote {
  .col-12 {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 30px 0 0;

    span {
      font-size: 12px;
      font-weight: bold;
      color: #D0011B;
      display: block;
      margin: 20px 0;
    }
  }
}
